
form{
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
}

form div {
    margin-top: 20px;
}

.inputGroup {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}

h4 {
    text-align: center;
}

.errors span {
    display: none;
}

.errors span {
    display: block;
    position: absolute;
    top: -20px;
    right: 27px;
    color: darkred;
    width: max-content;
}


input[type='text'], input[type='number'] {
  width: 173px;
} 

input[type='date'] {
    width: 172px;
}

select{
    width: 177px;
}

input[type='checkbox'] {
    margin-left: 0;
}

button {
    width: 90px;
    margin-left: 10px;
}

.btns {
    margin-left: 50px;
}
