<form [formGroup]='productForm' (ngSubmit)='onSubmit()'>
  <div class="inputGroup">
    <label>Title: </label>
    <input type="text" formControlName='title'>
    <span class='errors' *ngIf='title.errors && (title.dirty || title.touched)'>
      <span *ngIf='title.errors.required'>title is required</span>
    </span>
  </div>
  <div class="inputGroup">
    <label>Price: </label>
    <input type="number" formControlName='price'>
    <span class='errors' *ngIf='price.errors && (price.dirty || price.touched)'>
      <span *ngIf='price.errors.required'>price is required</span>
    </span>
  </div>
  <div class="inputGroup">
    <label>Quantity: </label>
    <input type="number" formControlName='quantity'>
    <span class='errors' *ngIf='quantity.errors && (quantity.dirty || quantity.touched)'>
      <span *ngIf='quantity.errors.required'>quantity is required</span>
    </span>
  </div>
  <div class="inputGroup">
    <label>Category: </label>
    <select formControlName='category'>
      <option *ngFor='let c of categories' [ngValue]='c'>{{c}}</option>
    </select>
    <span class='errors' *ngIf='category.errors && (category.dirty || category.touched)'>
      <span *ngIf='category.errors.required'>category is required</span>
    </span>
  </div>
  <div class="inputGroup">
    <label>Date: </label>
    <input type="date" formControlName='date' min="{{currentDate | date:'yyyy-MM-dd'}}">
  </div>
  <div class="inputGroup">
    <label>Available: </label>
    <input type="checkbox" formControlName='available'>
  </div>
  <div class="inputGroup" style='margin-left: 50px;'>
    <input type="submit" value="{{btn}}" [disabled]='!productForm.valid'>
    <button routerLink='/admin/products'>Cancel</button>
  </div>
</form>
